= form_for @application do |f|
  - if @application.errors.any?
    #error_explanation
      %h2= "#{pluralize(@application.errors.count, "error")} prohibited this application from being saved:"
      %ul
        - @application.errors.full_messages.each do |message|
          %li= message
  %h5 Registrant Details:
  %hr
  .form-group.form-row
    = f.label :first_name, class: 'col-sm-2 col-form-label col-form-label-sm required required'
    .col-sm-4
      = f.text_field :first_name, autofocus: true, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :last_name, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :last_name, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :gender, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :gender, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :birth_year, 'Year of Birth', class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.number_field :birth_year, class: 'form-control form-control-sm'

  %h5 Mailing Address:
  %hr
  .form-group.row
    = f.label :street, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :street, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :street2, class: 'col-sm-2 col-form-label col-form-label-sm'
    .col-sm-4
      = f.text_field :street2, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :city, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :city, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :state, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :state, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :zip, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :zip, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :country, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :country, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :phone, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :phone, class: 'form-control form-control-sm'

  %h5 Workshop Selection:
  %hr
  .form-group.row
    = f.label :workshop_selection1, class: 'required'
    = f.text_field :workshop_selection1
  .form-group.row
    = f.label :workshop_selection2, class: 'required'
    = f.text_field :workshop_selection2
  .form-group.row
    = f.label :workshop_selection3, class: 'required'
    = f.text_field :workshop_selection3

  %h5 Lodging Selection:
  %hr
  .form-group.row
    = f.label :lodging_selection, class: 'required'
    = f.text_field :lodging_selection
  .form-group.row
    = f.label :partner_registration_selection, class: 'required'
    = f.text_field :partner_registration_selection
  .form-row
    .form-group.col-md-4
      = f.label :partner_first_name
      = f.text_field :partner_first_name, class: 'form-control form-control-sm'
    .form-group.col-md-4
      = f.label :partner_last_name
      = f.text_field :partner_last_name, class: 'form-control form-control-sm'

  %h5 Additional Information:
  %hr
  .form-group.row
    = f.label :how_did_you_hear
    = f.text_field :how_did_you_hear, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :accessibility_requirements, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-6
      = f.text_area :accessibility_requirements, class: 'form-control form-control-sm', cols: 80
  .form-group.row
    = f.label :special_lodging_request, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-6
      = f.text_area :special_lodging_request, class: 'form-control form-control-sm', cols: 80
  .form-group.row
    = f.label :food_restrictions, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-6
      = f.text_area :food_restrictions, class: 'form-control form-control-sm', cols: 80
  .actions
    = f.submit 'Next', class: 'btn btn-secondary'
