%h5 Lodging Options:
%hr
%h6 NOTE: Prices below include a required $100 deposit.

%h6
  Plan A:
  .text-muted Includes tuition, lodging and all meals. Lodging options and pricing for Plan A are listed below.

  %ul
    %li.font-weight-bold
      Private Room and Private Bath:
      $905 per person

    %li.font-weight-bold
      Semi-Private Room and Shared Bath: $850 per person
      .text-muted (Queen Bed/Shared Bath with 1-3 others)

    %li.font-weight-bold
      Bunk room: $740 per person
      .text-muted (Single bunk bed in a 4-bunk bedroom shared with 1-3 others/shared bath with 1-3 others)

%h6
  Plan B:
  .font-weight-bold $640 per person
  .text-muted Includes tuition and all meals, but not lodging for those who live in the Petoskey area. In addition, there are many hotels and motels available within twenty minutes of the conference for those who prefer greater privacy

%hr.col-8
%h5
  Attending with a spouse/partner:
.h6
  It is possible to include a spouse/partner when registering for any of the
  options in Plan A or B for an additional fee:
  %ul
    %li.font-weight-bold
      $440 to attend the conference only
    %li.font-weight-bold
      $570 to attend the conference and readings`
.h6
  Please do not register your spouse/partner separately unless they also wish
  to attend the worshops. If your spouse/partner does want to attend the
  workshops they will need to register separately. We also highly recommend
  the "Private Room, Private Bath" option if you intend to bring your
  spouse/partner.

%h6 Plan A with a spouse/partner:

%ul
  %li.font-weight-bold Private Room and Private Bath:
  %ul
    %li $1475 w/partner attending conference AND readings
    %li $1345 w/partner attending conference ONLY

  %li.font-weight-bold Semi-Private Room and Shared Bath:
  .text-muted (Queen Bed/Shared Bath with 1-3 others)
  %ul
    %li $1420 w/partner attending conference AND readings
    %li $1290 w/partner attending conference ONLY

  %li.font-weight-bold Bunk Room
  .text-muted (Single bunk bed in a 4-bunk bedroom shared with 1-3 others/shared bath with 1-3 others)
  %ul
    %li $1310 w/partner attending conference AND readings
    %li $1180 w/partner attending conference ONLY

%h6 Plan B with a spouse/partner:
%ul
  %li $1215 w/partner attending conference AND readings
  %li $1085 w/partner attending conference ONLY

%h6
  Register early to secure your workshop choice:
  %small.text-muted Workshops will be assigned on a first come first serve basis. In the unlikely event of a workshop cancellation, your entire payment will be refunded upon request if you do not wish to enroll in an alternate workshop.


= form_for @application do |f|
  - if @application.errors.any?
    #error_explanation
      %h2= "#{pluralize(@application.errors.count, "error")} prohibited this application from being saved:"
      %ul
        - @application.errors.full_messages.each do |message|
          %li= message

  %br
  %h5 Registrant Details:
  %hr
  .form-group.form-row
    = f.label :first_name, class: 'col-sm-2 col-form-label col-form-label-sm required required'
    .col-sm-4
      = f.text_field :first_name, autofocus: true, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :last_name, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :last_name, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :gender, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :gender, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :birth_year, 'Year of Birth', class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.number_field :birth_year, class: 'form-control form-control-sm'

  %h5 Mailing Address:
  %hr
  .form-group.row
    = f.label :street, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :street, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :street2, class: 'col-sm-2 col-form-label col-form-label-sm'
    .col-sm-4
      = f.text_field :street2, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :city, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :city, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :state, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :state, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :zip, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :zip, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :country, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :country, class: 'form-control form-control-sm'
  .form-group.row
    = f.label :phone, class: 'col-sm-2 col-form-label col-form-label-sm required'
    .col-sm-4
      = f.text_field :phone, class: 'form-control form-control-sm'

  %h5 Workshop Selection:
  %hr
  .form-group.row
    = f.label :workshop_selection1, "First Choice", class: 'col-sm-2 col-form-label col-form-label-sm required'
    = f.collection_select(:workshop_selection1, Workshop.all.order_by_lastname, :id, :instructor,
                          prompt: "Pick one")
  .form-group.row
    = f.label :workshop_selection2, "Second Choice", class: 'col-sm-2 col-form-label col-form-label-sm required'
    = f.collection_select(:workshop_selection2, Workshop.all, :id, :instructor,
                          prompt: "Pick one")
  .form-group.row
    = f.label :workshop_selection3, "Third Choice", class: 'col-sm-2 col-form-label col-form-label-sm required'
    = f.collection_select(:workshop_selection3, Workshop.all, :id, :instructor,
                          prompt: "Pick one")

  %h5 Lodging Selection:
  -# %hr
  -# .form-group.row
  -#   = f.label :lodging_selection, class: 'col-sm-2 col-form-label col-form-label-sm required'
  -#   = f.collection_select(:lodging_selection, Lodging.all, :id, :description,
  -#                         prompt: "Pick one")

  %hr
  .h6
    = f.label 'Please select a room type:', class: 'required'
  .form-group
    = f.collection_radio_buttons(:lodging_selection, Lodging.all, :id, :description) do |b|
      .form-check
      = b.radio_button(class: "form-check-input ml-3")
      = b.label(class: "form-check-label  ml-5")

  .h6
    = f.label 'Please indicate whether your registration includes a spouse/partner:', class: 'required'
  .form-group
    = f.collection_radio_buttons(:partner_registration_selection, PartnerRegistration.all.order(cost: :asc), :id, :description) do |b|
      .form-check
      = b.radio_button(class: "form-check-input ml-3")
      = b.label(class: "form-check-label  ml-5")

  .form-row
    .form-group.col-md-4
      = f.label :partner_first_name
      = f.text_field :partner_first_name, class: 'form-control form-control-sm'
    .form-group.col-md-4
      = f.label :partner_last_name
      = f.text_field :partner_last_name, class: 'form-control form-control-sm'

  %h5 Additional Information:
  %hr
  .form-group.row
    = f.label :how_did_you_hear, "How did you hear about the Bear River Writers' Conference?", class: 'col-sm-4 col-form-label col-form-label-sm'
    = f.select :how_did_you_hear, Application::HOW_DID_YOU_HEAR, prompt: "Pick one"
  .form-group.row
    = f.label :accessibility_requirements, class: 'col-sm-2 col-form-label col-form-label-sm'
    .col-sm-6
      = f.text_area :accessibility_requirements, class: 'form-control form-control-sm', cols: 80
  .form-group.row
    = f.label :special_lodging_request, class: 'col-sm-2 col-form-label col-form-label-sm'
    .col-sm-6
      = f.text_area :special_lodging_request, class: 'form-control form-control-sm', cols: 80
  .form-group.row
    = f.label :food_restrictions, class: 'col-sm-2 col-form-label col-form-label-sm'
    .col-sm-6
      = f.text_area :food_restrictions, class: 'form-control form-control-sm', cols: 80

  .form-group.row
    = f.label "Required items are marked with an asterisk", class: 'required'

  .actions
    = f.submit 'Next', class: 'btn btn-success'
