%hr
%h5 Lodging Options:
/ %h6 NOTE: Prices below include a required $100 deposit.
%hr.w-75
%h5
  Plan A:
  %small.text-muted Includes tuition, lodging and all meals. Lodging options and pricing for Plan A are listed below.
%ul
  - @lodgings.each do | lodge |
    - if lodge.plan == 'A'
      %li.font-weight-bold
        = "#{lodge.description} ( #{number_to_currency(lodge.cost.to_f)} )"
      - if lodge.description.include?("Semi-Private")
        .text-muted.ml-2 Queen Bed/Shared Bath with 1-3 others
      - if lodge.description.include?("Bunk")
        .text-muted.ml-2 Single bunk bed in a 4-bunk bedroom shared with 1-3 others/shared bath with 1-3 others
%h5
  Plan B:
  %small.text-muted Includes tuition and all meals, but not lodging for those who live in the Petoskey area. In addition, there are many hotels and motels available within twenty minutes of the conference for those who prefer greater privacy
%ul
  - @lodgings.each do | lodge |
    - if lodge.plan == 'B'
      %li.font-weight-bold
        = "#{lodge.description} ( #{number_to_currency(lodge.cost.to_f)} )"
%hr.w-75
%h5
  Attending with a spouse/partner:
  %small.text-muted
    It is possible to include a spouse/partner when registering for any of the options in Plan A or B for an
    %mark additional fee:
%ul
  - @partner_registrations.each do |pr|
    - if pr.cost > 0.0
      %li.font-weight-bold
        = "#{pr.description} ( #{number_to_currency(pr.cost.to_f)} )"
%p
  Please do not register your spouse/partner separately unless they also wish
  to attend the worshops. If your spouse/partner does want to attend the
  workshops they will need to register separately. We also highly recommend
  the "Private Room, Private Bath" option if you intend to bring your
  spouse/partner.

-# %h5
-#   Plan A
-#   %small.text-muted with a spouse/partner:

-# %ul
-#   %li.font-weight-bold Private Room and Private Bath:
-#   %ul
-#     %li $1475 w/partner attending conference AND readings
-#     %li $1345 w/partner attending conference ONLY

-#   %li.font-weight-bold Semi-Private Room and Shared Bath:
-#   .text-muted.ml-2 Queen Bed/Shared Bath with 1-3 others
-#   %ul
-#     %li $1420 w/partner attending conference AND readings
-#     %li $1290 w/partner attending conference ONLY

-#   %li.font-weight-bold Bunk Room
-#   .text-muted.ml-2 Single bunk bed in a 4-bunk bedroom shared with 1-3 others/shared bath with 1-3 others
-#   %ul
-#     %li $1310 w/partner attending conference AND readings
-#     %li $1180 w/partner attending conference ONLY

-# %h5
-#   Plan B
-#   %small.text-muted with a spouse/partner:
-# %ul
-#   %li.font-weight-bold No lodging
-#   %ul
-#     %li $1215 w/partner attending conference AND readings
-#     %li $1085 w/partner attending conference ONLY

%hr.w-75
%h5
  Register early to secure your workshop choice:
  %small.text-muted Workshops will be assigned on a first come first serve basis. In the unlikely event of a workshop cancellation, your entire payment will be refunded upon request if you do not wish to enroll in an alternate workshop.


= form_for @application do |f|
  - if @application.errors.any?
    #error_explanation
      %h2= "#{pluralize(@application.errors.count, "error")} prohibited this application from being saved:"
      %ul
        - @application.errors.full_messages.each do |message|
          %li= message

  %br
  %h5 Registrant Details:
  %hr
  .form-group.row
    = f.label :first_name, class: 'col-sm-3 col-form-label required'
    .col-sm-9
      = f.text_field :first_name, autofocus: true, class: 'form-control'
  .form-group.row
    = f.label :last_name, class: 'col-sm-3 col-form-label required'
    .col-sm-9
      = f.text_field :last_name, class: 'form-control'
  .form-group.row
    = f.label :gender, class: 'col-sm-4 col-form-label required'
    = f.collection_select(:gender, Gender.all, :id, :name, prompt: "Pick one")
  .form-group.row
    = f.label :birth_year, 'Year of Birth', class: 'col-sm-3 col-form-label required'
    .col-sm-9
      = f.number_field :birth_year, class: 'form-control'

  %h5 Mailing Address:
  %hr
  .form-group.row
    = f.label :street, class: 'col-sm-3 col-form-label required'
    .col-sm-9
      = f.text_field :street, class: 'form-control'
  .form-group.row
    = f.label :street2, class: 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :street2, class: 'form-control'
  .form-group.row
    = f.label :city, class: 'col-sm-3 col-form-label required'
    .col-sm-9
      = f.text_field :city, class: 'form-control'
  .form-group.row
    = f.label :state, class: 'col-sm-3 col-form-label required'
    .col-sm-9
      = f.select :state, us_states, {}, include_blank: "-- Please Select --", class: 'form-control'
  .form-group.row
    = f.label :zip, class: 'col-sm-3 col-form-label required'
    .col-sm-9
      = f.text_field :zip, class: 'form-control'
  .form-group.row
    = f.label :country, class: 'col-sm-3 col-form-label required'
    .col-sm-9
      = f.country_select  :country, priority_countries: ["US"], include_blank: "-- Please Select --", class: 'form-control'
  .form-group.row
    = f.label :phone, class: 'col-sm-3 col-form-label required'
    .col-sm-9
      = f.text_field :phone, class: 'form-control'

  %h5 Workshop Selection:
  %hr
  .form-group.row
    = f.label :workshop_selection1, "First Choice", class: 'col-sm-4 col-form-label required'
    = f.collection_select(:workshop_selection1, Workshop.all.order_by_lastname, :id, :instructor,
                          prompt: "Pick one")
  .form-group.row
    = f.label :workshop_selection2, "Second Choice", class: 'col-sm-4 col-form-label required'
    = f.collection_select(:workshop_selection2, Workshop.all, :id, :instructor,
                          prompt: "Pick one")
  .form-group.row
    = f.label :workshop_selection3, "Third Choice", class: 'col-sm-4 col-form-label required'
    = f.collection_select(:workshop_selection3, Workshop.all, :id, :instructor,
                          prompt: "Pick one")

  %h5 Lodging Selection:
  %hr
  .h6
    = f.label 'Please select a room type:', class: 'required'
  .form-group
    = f.collection_radio_buttons(:lodging_selection, Lodging.all, :id, :description) do |b|
      .form-check
      = b.radio_button(class: "form-check-input ml-3")
      = b.label(class: "form-check-label  ml-5")

  .h6
    = f.label 'Please indicate whether your registration includes a spouse/partner:', class: 'required'
  .form-group
    = f.collection_radio_buttons(:partner_registration_selection, @partner_registrations.order(cost: :asc), :id, :display_info) do |b|
      .form-check
      = b.radio_button(class: "form-check-input ml-3")
      = b.label(class: "form-check-label  ml-5")

  %p.pl-3 if you are bringing a partner please enter their name:
  .form-row
    .form-group.col-4.offset-1
      = f.label :partner_first_name
      = f.text_field :partner_first_name, class: 'form-control'
    .form-group.col-4
      = f.label :partner_last_name
      = f.text_field :partner_last_name, class: 'form-control'

  %h5 Additional Information:
  %hr

  .form-group.row
    = f.label :accessibility_requirements, class: 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_area :accessibility_requirements, class: 'form-control', cols: 80
  .form-group.row
    = f.label :special_lodging_request, class: 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_area :special_lodging_request, class: 'form-control', cols: 80
  .form-group.row
    = f.label :food_restrictions, class: 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_area :food_restrictions, class: 'form-control', cols: 80
  .form-row
    .form-group
      = f.label :how_did_you_hear, "How did you hear about the Bear River Writers' Conference?"
      = f.select :how_did_you_hear, Application::HOW_DID_YOU_HEAR, prompt: "Pick one"

  .form-group.row
    = f.label "Required items are marked with an asterisk", class: 'text-muted required'

  .actions
    = f.submit 'Next', class: 'btn btn-success'
