- if @application.user.payments.size < 1
  %h3 Confirm your information
- else
  %h3 Your Application
  %h6.mt-4
    Thank you for your Bear River Writers' Conference application. You will
    will recieve an email after the close of the Application Window notifiying
    if you have been admitted to the conference.
  %h6.mt-4
    If your application is accepted, in March,
    you will be emailed with your workshop and housing placement. You will also
    be sent a prompt to continue paying your conference dues at that time.
    Registrants have until April 30,
    = current_application_settings.contest_year
    to pay your conference balance
    in full. You may email any questions to:
    %br
      = mail_to "bearriver-questions@umich.edu"

%hr.w-75
.h5 Registration Details:
%p
  %b First name:
  = @application.first_name
  %br
  %b Last name:
  = @application.last_name
  %br
  %b Gender:
  = @application.gender
  %br
  %b Birth year:
  = @application.birth_year

%hr
.h5 Mailing Address:
%p
  %b Street:
  = @application.street
  %br
  %b Street2:
  = @application.street2
  %br
  %b City:
  = @application.city
  %br
  %b State:
  = @application.state
  %br
  %b Zip:
  = @application.zip
  %br
  %b Country:
  = @application.country
  %br
  %b Phone:
  = @application.phone
  %br
  %b Email:
  = @application.email

%hr
.h5 Workshop Selections:
%p
  %b Workshops you requested:
  %ol
    %li
      = @workshop1
    %li
      = @workshop2
    %li
      = @workshop3

%hr
.h5 Lodging Selection
%p
  %b Lodging selection:
  = @lodging
  %br
  %b Partner registration selection:
  = @partner_description
  %br
  %b Partner first name:
  = @application.partner_first_name
  %br
  %b Partner last name:
  = @application.partner_last_name
  %br
  .h6
  %b Total cost for selected options:
  .h5
    = number_to_currency(@total_cost)

%hr
.h5 Additional Details:
%p
  %b How did you hear about the Bear River Writers' Conference?
  = @application.how_did_you_hear
  %br
  %b Accessibility requirements:
  = @application.accessibility_requirements
  %br
  %b Special lodging request:
  = @application.special_lodging_request
  %br
  %b Food restrictions:
  = @application.food_restrictions

%hr
- if @application.offer_status.nil?
  %h6
    NOTE:
    %small.text-muted If you need to make a correction, please use the edit
    button below to return to the form.
  = link_to 'Edit', edit_application_path(@application), class: 'btn btn-sm btn-warning'

  %hr
  = link_to 'Submit Application', root_path, class: 'btn btn-sm btn-success'

  %hr
  %h6
    Cancel Registration
    .text-muted
      If you are not prepared to submit your application at this time, please
      use the option below to cancel your registration.

  -# = link_to 'Cancel', root_path, class: 'btn btn-danger'
  = link_to 'Delete', application_path(@application), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

- else
  %h6.mt-4
    Note: If you have any questions or would like to request a change to your
    application selections please contact the conference coordinators at
    = mail_to "bearriver-questions@umich.edu"
