- provide(:title, 'Payment Receipt')

%h2 Your payment information
%h4
  = @current_payment.transactionResultMessage

%h5
  = "#{current_user.email},"
%p
  Your payment of the Bearriver Application fee (
  %span.font-weight-bold Confirmation Number:
  = @current_payment.transactionId
  ) has been recorded into your account"

.card{:style => "width: 18rem;"}
  %h4.card-header
    Payment details:
  %ul.list-group.list-group-flush
    %li.list-group-item
      %span.font-weight-bold Date:
      = Time.parse(@current_payment.transactionDate).strftime("%B %e, %Y at %l:%M %p")
    %li.list-group-item
      %span.font-weight-bold Amount:
      = format_total_payment(@current_payment)

    %li.list-group-item
      %span.font-weight-bold Credit Card:
      = @current_payment.transactionAcountType

%p.text-muted
  You will also receive an email confirmation from 'MerchantCreditCard&#64;umich.edu'
%h6
  If you have any questions please contact
  = mail_to "bearriver-questions@umich.edu"
